<div class="container">
  <ul>
  <% @characters.each do |character| %>
    <li>
    <%= link_to user_character_path(@user, character) do %>
      <%= character.name %>
    <% end %>
    </li>
  <% end %>
  </ul>
</div>
